[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openpyxl = "*"
pandas = "*"
autopep8 = "*"
jupyter = "*"
xlrd = "*"
xlwt = "*"

[requires]
python_version = "3.8"
